/* Estilos básicos y reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
header img {
    width: 700px;
    height:400px;
    margin-right: 100px;

}
.menu-container {
    text-align: center;
    background-color: #f9f9fB;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    width: 90%;
}

/* Imagen del logo */
.logo img {
    width: 80%;
    max-width: 300px;
    margin: 0 auto 20px;
    display: block;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilo del menú */
nav ul {
    list-style: none;

}

nav ul li {
    margin: 15px;
    display:block;
    
}

nav ul li a {
    display:block;
    margin:-14px auto;
    width: 150px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    padding: 10px 20px;
    border: 2px solid #0077cc;
    border-radius: 5px;
    background-color: #0077cc;
    color: white;
    transition: all 0.3s ease-in-out;
}

nav ul li a:hover {
    background-color: white;
    color: #0077cc;
    border-color: #0077cc;
}

/* Pie de página */

footer {
    background-color: #f4f4f4;
}
.creditos h6,ul {
    display:block;
    text-align:center;
    margin:0 auto;
}
.creditos ul {
    column-count: 2;
    column-width: 10px;
    column-gap: 3px;
    list-style: none;
    font-size: x-small;
}

.creditos li:first-child {
    text-align:right;
    border-right: 1px solid;
    padding-right:5px;
}

.creditos li:last-child {
        text-align:left;
    }
