
* {
    margin:0;
    padding:0;
    box-sizing: 0;    
}

body {
    background-color:#f9f9fb;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    margin:0 auto;
}

.container {
    margin:0 auto;
    border-radius: 0 0 12px 12px;
    
    width: 90%;
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: #f9f9fb;
}


header > h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium';
    background: linear-gradient(to bottom, rgba(59,92,102,1) 0%, rgba(183,222,237,1) 94%, rgba(183,222,237,1) 100%);
    display:block;
    border-top:2px solid #ad5535;
    border-radius: 40px 40px 0px 0px;
    margin:0 auto;
    padding-top: 5px;
    box-shadow: 2px 2px 2px black;
    
}

header > h2 {
    font-family:'Times New Roman', serif;
    display:block;
    top: -20px;
    border:0 solid;
    font-size: 1rem;
    background-color: #BBDFED;
    text-align:center;
    margin: 0 auto;
    color: rgba(255, 127, 80, 0.904);
    padding-bottom: 2%;
    box-shadow: 2px 2px 2px black;
    
    
}

header > img {
    display:block;
    margin:0 auto;
    width: 600px;
    height: 100px;
    margin-bottom: 10px;
}

nav {
    display:flex;
    align-items: center;
    list-style: none;
    justify-content: space-around;
   }

nav > li {
   
    color:white;
    display:block;
    width: 20%;
    background-color: chocolate;
    text-align:center;
    border:1px solid black;
    border-bottom:0px solid;
    border-radius:20px 20px 0 0;
    box-shadow: inset -10px -8px 16px -7px rgba(0,0,0,0.75);
}

li > a {
    display:block;
    width:100%;
    color: white;
    text-decoration:none;
}

li > a:hover {
    color:black;
}

main {
    background-color:#BBDFED;
    box-shadow: 2px 2px 2px;
}
main > h2 {
    display:block;
    color:white;
    display:block;
    margin:0 auto;
    margin-bottom: 30px;
    width: 85%;
    background-color: #000000aa;
}

section {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    background-color:#BBDFED;
    }

article {
    display:block;
    width:35%;
    height:fit-content;
    color:white;
    border:2px solid;
    border-radius:25px;
    margin-bottom: 3%;
    background-color:#000000aa;
    position:relative;
    
}

article h3 {
    text-align:center;
    display:block;
    border:0 solid;
    width:70%;
    margin:0 auto;
    color: black;
    border-radius: 0 0 20px 20px;
    background-color: white;
    padding: 3px 0;
}

article h4 {
    text-align:center;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: underline;
}

details {
    margin-left:18%;
    margin-right:18%;
}

details > p {
    margin:0;
}

article img {
    width:20vw;
    height:40vh;
    display:block;
    margin:0 auto;
    margin-top: 15px;
    margin-bottom: 20px;
}

article button {
    display:block;
    margin:0 auto;
    margin-bottom: 20px;
}

article p {
    margin-left:18%;
    margin-right:18%;

}

footer {
    display:block;
    border: 0 solid;
    border-radius: 0 0 10px 10px;
    text-align:center;
    color: white;
    background-color:#000000aa;
    box-shadow: 2px 2px 2px black;
}
footer h5 {
    padding-top: 10px;
}
footer h6:last-child {

    padding-bottom: 10px;
}
