* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
}

.lista-meses {
    width: 100%;
    position: sticky;
    background-color: rgba(255, 255, 255, 0.8);
    top: 0;
    z-index: 1;
}

h1 {
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    font-family: 'Lucida Calligraphy', cursive;
    padding-bottom: 10px;
}

ul {
    margin-bottom: 30px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

li {
    font-size: 1rem;
    width: 25%;
    text-align: center;
}

li a {
    text-decoration: underline;
    font-family: 'Lucida Calligraphy', cursive;
    font-weight: bold;
    color: black;
}

article {
    width: 580px;
    height: 360px;
    scroll-margin-top: 150px;
}

table {
    width: 580px;
    height: 360px;
    empty-cells: hide;
    animation: muestratabla 0.5s linear both;
}

.imagen img {
    display: block;
    height: 100%;
    max-width: 150px;
}

th {
    font-size: 3rem;
}

tbody {
    border: 2px solid;
}

td {
    border: 2px solid lightsalmon;
    text-align: center;
    font-size: 2rem;
    cursor: pointer;
    text-shadow: 1px 2px 4px #000;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

td:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.festivo {
    color: brown;
    font-weight: bold;
}

.dias td {
    border: 1px dotted rgb(218, 211, 211);
    border-radius: 15px 15px 0 0;
}

.dias td:last-child {
    border-color: white;
    text-align: left;
}

section {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 0 auto 30px;
}

.fin {
    margin-bottom: 200px;
}

@keyframes muestratabla {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

[data-title]:hover:after {
    opacity: 0.8;
    transition: opacity 0.4s ease;
    visibility: visible;
}

[data-title]:after {
    content: attr(data-title);
    background-color: #574d4d;
    color: #fff;
    font-size: 1rem;
    font-family: 'Lucida Calligraphy';
    position: absolute;
    padding: 3px 10px;
    bottom: -1.6em;
    left: 100%;
    white-space: nowrap;
    box-shadow: 1px 1px 3px #222;
    opacity: 0;
    border: 1px dotted #111;
    z-index: 9999;
    visibility: hidden;
    border-radius: 6px;
}

[data-title] {
    position: relative;
}
