.inicio {
    background-color: lightgrey;
    text-align:center;
    font-weight: bold;
}

.cabecera-tabla {
    background-color:darkblue;
    color:white
}
th {

    border:3px double;
    
}

td {
    border:1.5px solid;
}

.col-1 {

    background-color: aqua;
    font-weight: bold;
    width:40%;

}

.col-centro {
    background-color: aquamarine;
}

.col-5 {
    background-color: darkcyan;
    width:20%;
}

tr td:not(:first-child) {
    text-align: center;
}

