.contenedor {
    border:3px solid #11347B;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    width: 400px;
    margin: auto;
}

#titulo {
    border: 0 solid;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    padding-bottom:1px;
    background: linear-gradient(#557BCC,#11347B);
    font-size: 14px;
    color:white;
}
#select {
    background-color: #EDEAE5;
    height: 20px;
}
#logo {
    margin-left:3px;
    border: 0 solid;
    border-radius: 20px;
    margin-top:3px;
}
#titulo p {
    position:absolute;
    top:3px;
    font-size: 12px;
    margin-left:22px;
}

#menu {
    position:absolute;
    top:15px;
    margin-left:310px;
}
em {
    font-style: normal;
    text-decoration: underline;
    }
h3 {
    margin:2%;
}
#select p {
    margin-top:1px;
    margin-left:3px;
    margin-right:7px;
    font-size: 12px;
    padding-top:2px;
}

#select span {
    margin-left: 5%;
}

.elemento {
    margin-bottom: 3%;
}

fieldset {
    margin-bottom: 2%;
    margin-left: 2%;
    margin-right:2%;
}

.elemento #nombre {
    display:block;
    margin:left;

    }

.elemento #descripcion {
    display:block;
    margin:left;
    height:5rem;
    width: 19.5rem;
    resize: none;
    overflow-y: scroll;
}

.elemento span {
    margin-right: 10%;
}

.elemento #promocion {
    margin-top:8%;
}