* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#contenido {
    
    width:1200px;
    margin:auto;
    
}

.envoltorio {

    
    border:3px solid red;
    height:600px;
    margin-bottom: 200px;
    padding-left:30px;
    padding-right:30px;
    background-color:darkorange;
}

.envoltorio h2 {
    font-size: 40px;
    font-family:'Lucida Sans';
    border-top: 4px solid;
    border-bottom: 4px solid;
}

.col-izq {
    border:3px solid orange;
    width:45%;
    height: 400px;
    float:left;
    background-color: orange;
}

.col-dcha {
    border: 3px solid orange;
    width:45%;
    height: 400px;
    margin-left: 55%;
    background-color: orange;
     }

nav {
    border:0 solid orange;
    background-color:orange;
    top:0;
    left:0;
    width:100%;
    position:fixed;
    height: 200px;
}

.item-menu {
    color:white;
    list-style: none;
    float:left;
    background-color:white;
    width:25%;
    text-align: center;
    margin: 1rem 4%;
}

.item-menu a {
    color: red;
    text-decoration: none;
    background-color: white;
    display: block;
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem;
    font-weight: bold;
    border-radius: .3rem;
}

.item-menu:hover a {

    background-color:lightgrey;
}
