* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
html {
    scroll-behavior: smooth;
  }

body {
    margin: 0 auto;
}

.lista-meses {

    width: 100%;
    margin: 0 auto;
    position:sticky;
    background-color: rgba(255,255,255, .8);
    top:0;
    z-index:1;
}

h1 {

    text-align:center;
    text-decoration: underline;
    font-weight:bold;
    font-family: 'Lucida Calligraphy';
    padding-bottom: 10px;

}


ul {
       
    margin-bottom:30px;
    text-align: center;
    list-style: none;
    display:flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items:center;
}

li {

text-decoration: none;
font-size: 1rem;
display:block;
width: 25%;
}

li a {

    margin:0 auto;
    text-decoration:underline;
    font-family: 'Lucida Calligraphy', cursive;
    font-weight: bold;
    color:black;
    }

 

article {
    width: 580px;
    height: 360px; 
    scroll-margin-top:135px;
    }

table {
   
    width: 580px;
    height: 360px;
    empty-cells:hide;
    animation: muestratabla linear both;
    animation-timeline: view(); 
    animation-range: entry 80% cover 50%; 
}

.imagen img {
   
    display:block;
    height: 100%;
    max-width: 150px;   
    
}

th {
    width: 580px;
    height: 72px;
    font-size: 3rem;
}

tbody {

    border: 2px solid; 
}

td {
    border:2px solid lightsalmon;
    border-style: outset;
    text-align: center;
    font-size: 2rem;
    text-shadow:1px 2px 4px #000;
}

 .festivo:hover  { 
    display:block;
    text-shadow:1px 1px 3px;
    transform: scale(1.2,1.2);
    border:2px solid lightsalmon;
    border-style: outset;
    text-align: center;
    font-size: 2rem;
    cursor:pointer;
    text-shadow:1px 2px 4px #000;
} 

td:nth-child(7),.festivo {
    color:brown;
    /*font-style: italic;*/
    font-weight: bold;
}

.dias td:last-child {
    
    border-color:white;   
    text-align: left;
}

section {

    width: 1200px;
    display:flex;
    flex-wrap: wrap;
    gap: 30px;
    flex-direction: row;
    margin: 0 auto;
    margin-bottom:30px;
    
}

.dias td {
    border: 1px dotted rgb(218, 211, 211);
    border-radius: 15px 15px 0 0;   
}

.fin {
    margin-bottom: 200px;
}


[data-title]:hover:after {
    opacity: 0.8;
    transition: all 0.4s ease 0.3s;
    visibility: visible;
}
[data-title]:after {
    content: attr(data-title);
    background-color: #574d4d;
    color: #fff;
    font-size:1rem;
    font-family: 'Lucida Calligraphy';
    position: absolute;
    padding: 3px 10px;
    bottom: -1.6em;
    left: 100%;
    white-space: nowrap;
    box-shadow: 1px 1px 3px #222222;
    opacity: 0;
    border: 1px dotted #111111;
    z-index: 99999;
    visibility: hidden;
    border-radius: 6px;
    
}
[data-title] {
    position: relative;
}

@keyframes muestratabla {

    from {
    opacity:0;
    }
    to {
    opacity:1;
    }
}