body {
    padding-top:20px;
}
.contenedor {

    height:auto;
    width:90%;
    border:6px solid #999999;
    margin:0 auto;
    padding-left: 2%;
    padding-right:2%;

}

.contenedor > h4 {
    width: 200px;
    font-size:16px;
    margin-top:-18px;
    margin-left:40%;
    background:white;
    padding-left: 5px;
    text-align: center;
    color:white;
    background-color:#999999;
    font-size: 24px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

header {
     border: 6px solid green;
}

header > h4 {
    width: 200px;
    font-size:16px;
    margin-top:-18px;
    margin-left:2%;
    background:green;
    padding-left: 5px;
    text-align: center;
    color:white;
    background-color:green;
    font-size: 24px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

aside {
    margin-top: 20px;
    width:30%;
    border:6px solid green;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:10px;
}
aside > h4 {
    width: 250px;
    font-size:16px;
    margin-top:-18px;
    margin-left:5%;
    padding-left: 5px;
    text-align: center;
    color:white;
    background-color:green;
    font-size: 24px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}   

main {
    
    border:6px solid green;
    width: 65%;
    margin-left: 455px;
    margin-top: -39.8%;
    margin-bottom:10px;
}

main > h4 {
    width: 260px;
    font-size:16px;
    margin-top:-18px;
    margin-left:5%;
    padding-left: 5px;
    text-align: center;
    color:white;
    background-color:green;
    font-size: 24px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

#datos {
    margin-top: 20px;
    border:1px solid orange;

}
#datos > h4 {
    
    font-size:16px;
    width:150px;
    margin-top:-10px;
    margin-left:30%;
    padding-left: 5px;
    text-align: center;
    color:white;
    background-color:orange;
    font-family:Georgia, 'Times New Roman', Times, serif;
    

}

.datos {
    margin-top: 20px;
    border:1px solid blue;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    margin-bottom:10px;
    height:200px;
}

.datos h4 {

    padding-top:17%;
}

#formacion {
    
    border:1px solid orange;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;

}

#formacion > h4 {

    font-size:16px;
    width:160px;
    margin-top:-10px;
    margin-left:40%;
    padding-left: 5px;
    text-align: center;
    color:white;
    background-color:orange;
    font-family:Georgia, 'Times New Roman', Times, serif;

}

#experiencia {
    margin-top: 20px;
    border:1px solid orange;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;

}

#experiencia > h4 {

    font-size:16px;
    width:170px;
    margin-top:-10px;
    margin-left:40%;
    padding-left: 5px;
    text-align: center;
    color:white;
    background-color:orange;
    font-family:Georgia, 'Times New Roman', Times, serif;

}

.formacion {
    margin-top: 10px;
    border:1px solid blue;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    margin-bottom:10px;

}

.experiencia {
    margin-top: 20px;
    border:1px solid blue;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    margin-bottom:10px;
}

article h4 {
    color:blue;
    font-weight: bold;
}