
body {
    padding-top:20px;
}
.contenedor {
    
    height:auto;
    width:90%;
    border:6px solid #999999;
    margin:0 auto;
    padding-left: 2%;
    padding-right:2%;
}

.contenedor > h4 {
    width: 200px;
    font-size:16px;
    margin-top:-18px;
    margin-left:45%;
    background:white;
    padding-left: 5px;
    text-align: center;
    color:white;
    background-color:#999999;
    font-size: 24px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

header {
     border: 6px solid green;
     position:relative;
}

header > h4 {
    width: 200px;
    font-size:16px;
    margin-top:-18px;
    margin-left:2%;
    background:green;
    padding-left: 5px;
    text-align: center;
    color:white;
    background-color:green;
    font-size: 24px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.flex_container {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}

aside {
    margin-top: 20px;
    width:25%;
    border:6px solid green;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:10px;
    margin-bottom:10px;
    height: fit-content;
    

}
aside > h4 {
    width: 250px;
    font-size:16px;
    margin-top:-18px;
    margin-left:5%;
    padding-left: 5px;
    text-align: center;
    color:white;
    background-color:green;
    font-size: 24px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}   

main {
    
    margin-top: 20px;
    border:6px solid green;
    width: 70%;
    margin-bottom:10px;
    padding-left:20px;
    padding-right:10px;
    padding-bottom:10px;

    
}

main > h4 {
    width: 260px;
    font-size:16px;
    margin-top:-18px;
    margin-left:1%;
    padding-left: 5px;
    text-align: center;
    color:white;
    background-color:green;
    font-size: 24px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

#datos {
    margin-top: 20px;
    border:1px solid orange;

}
#datos > h4 {
    
    font-size:16px;
    width:150px;
    margin-top:-10px;
    margin-left:25%;
    padding-left: 5px;
    text-align: center;
    color:white;
    background-color:orange;
    font-family:Georgia, 'Times New Roman', Times, serif;

}

.datos {
    margin-top: 20px;
    border:1px solid blue;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    margin-bottom:10px;
    height:200px;
}

.datos h4 {

    padding-top:25%;
}

#formacion {

    border:1px solid orange;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;

}

#formacion > h4 {

    font-size:16px;
    width:150px;
    margin-top:-10px;
    margin-left:40%;
    padding-left: 5px;
    text-align: center;
    color:white;
    background-color:orange;
    font-family:Georgia, 'Times New Roman', Times, serif;

}

#experiencia {
    margin-top: 20px;
    border:1px solid orange;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;

}

#experiencia > h4 {

    font-size:16px;
    width:190px;
    margin-top:-10px;
    margin-left:40%;
    padding-left: 5px;
    text-align: center;
    color:white;
    background-color:orange;
    font-family:Georgia, 'Times New Roman', Times, serif;

}

.formacion {
    margin-top: 10px;
    border:1px solid blue;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    margin-bottom:10px;

}

.experiencia {
    margin-top: 20px;
    border:1px solid blue;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    margin-bottom:10px;
}

article h4 {

    color:blue;
    font-weight: bold;
}