/*Resets (Ajustes iniciales del documento) */
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

/* body > ul {} --> Afecta solamente al primer ul del documento, pero no a los anidados dentro de el.
- Para simplificar, se añade la clase menu al ul.
*/

.menu a {
    text-decoration:none;
    display:block; /* <-- En enlace ocupa todo el tamaño del elemento */
}

.menu a:link, menu a:visited { /*Tanto los enlaces como los enlaces ya visitados, tienen el mismo color*/

    color: darkcyan;
}
/*Formato basico*/

.menu { /*Modifica el elemento menú y todo lo que contiene*/

    font-family: 'Verdana';
    font-size: 1.2rem;
    color: darkcyan;
}

.menu a:hover { /*Cambia todos los enlaces cuando son seleccionados*/

    background-color: darkcyan;
    color: white;
}

/* Ocultamos submenus */

.submenu, .submenu-2 {

    display:none;
}

/*Formato menu principal*/

.menu-1 { /* En horizontal, cada elemento ocupa el 20% del total, con borde derecho y texto centrado */

    float:left;
    width: 20%;
    border-right: 3px dotted;
    text-align: center;
    position:relative; /* Se marca como posición de referencia */
}

.menu-1 > a {

  padding: 1rem 0; /* Altura de la casilla del menu */

}

/* Formato para los submenus */

.menu-1:hover .submenu {

    display:block;

}

.submenu {
    position:absolute; /*Ya no está dentro del flujo del codigo*/
    width: 100%; /* Este porcentaje hace referencia a su posición de referencia, .menu-1 */
    background-color:white;
    border-left: 1px solid;
    border-right: 1px solid;
    top:100%; /* En referencia al elemento de referencia, el 100% es justo despues de que acabe la referencia*/
}
.menu-2 {
    
    position:relative; /* Para la referencia de los submenus de menu2 */

}
.menu-2 a {

    padding: 0.5rem,0; /*Margen interno para mostrar mejor el borde de todos los enlaces dentro de menu2*/
}

/* Formato submenu-2 */

.menu-2:hover .submenu-2 {

    display:block;

}

.submenu-2 {

    background-color:white;
    border-bottom: 1px dashed;
    border-top: 1px dashed;
    position:absolute;
    left:100%;
    top:0%;
    width:100%;
}
